{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <img id="tile_067" src="/img/ground_riverCross_NE.png" alt="tile" style="display: none">
    <img id="tile_081" src="/img/cityTiles_081.png" alt="tile" style="display: none">
    <img id="tile_over" src="/img/over_zone.png" alt="tile" style="display: none">
    <div id="stage-parent">
        <div id="container" data-landscape-update="{{ landscapeUrl }}" data-array-config="{{ arrayConfig | json_encode() }}">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('game')}}
{% endblock %}
